
<center>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>What's Bothering You?</h1>
  </div>
</div>

<div class="row">
<p></p>
</div>
<div class="row">

    <div class="col-md-3">
      <a href="/workvents/new" class="btn btn-primary glyphicon glyphicon-briefcase"> Work</a>
    </div>

    <div class="col-md-3">
      <a href="/relationshipvents/new" class="btn btn-primary glyphicon glyphicon-heart"> Relationship</a>
    </div>
    <div class="col-md-3">
      <a href="/lifevents/new" class="btn btn-primary glyphicon glyphicon-globe"> Life</a>
    </div>
    <div class="col-md-3">
      <a href="/othervents/new" class="btn btn-primary glyphicon glyphicon-bullhorn"> Other</a>
    </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>View Some Vents</h1>
  </div>
</div>

<div class="row">
<p></p>
</div>
<div class="row">

    <div class="col-md-3">
      <a href="/workvents" class="btn btn-warning glyphicon glyphicon-briefcase"> Work</a>
    </div>

    <div class="col-md-3">
      <a href="/relationshipvents" class="btn btn-warning glyphicon glyphicon-heart"> Relationship</a>
    </div>
    <div class="col-md-3">
      <a href="/lifevents" class="btn btn-warning glyphicon glyphicon-globe"> Life</a>
    </div>
    <div class="col-md-3">
      <a href="/othervents" class="btn btn-warning glyphicon glyphicon-bullhorn"> Other</a>
    </div>
</div>



<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Distractions</h1>
  </div>
</div>

<div class="row">
    <div class="col-md-3">
      <a href="http://www.addictinggames.com/" class="btn btn-info"> Games</a>
    </div>

    <div class="col-md-3">
      <a href="https://www.youtube.com/watch?v=c0NGXyMTMvQ" class="btn btn-info glyphicon glyphicon-film"> Videos</a>
    </div>

    <div class="col-md-3">
      <a href="https://www.opentable.com/" class="btn btn-info glyphicon glyphicon-cutlery"> Go Out to Eat</a>
    </div>

    <div class="col-md-3">
      <a href="https://www.kayak.com/" class="btn btn-info glyphicon glyphicon-plane"> Plan a Vacation</a>
    </div>
  </div>

</center>


