
<center>

<div class="jumbotron">
  <h1>Welcome Back to VentElate!</h1>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>What's Bothering You?</h2>
  </div>
</div>

<div class="row">
<p></p>
</div>
<div class="row">

    <div class="btn-group btn-group-justified">
      <a href="/workvents/new" class="btn-group btn-primary glyphicon glyphicon-briefcase"> Work</a>
      <a href="/relationshipvents/new" class="btn btn-primary glyphicon glyphicon-heart"> Relationship</a>
      <a href="/lifevents/new" class="btn btn-primary glyphicon glyphicon-globe"> Life</a>
      <a href="/othervents/new" class="btn btn-primary glyphicon glyphicon-bullhorn"> Other</a>
    </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>View Vents</h2>
  </div>
</div>

<div class="row">
<p></p>
</div>

<div class="row">
<div class="btn-group btn-group-justified">

      <a href="/workvents" class="btn btn-warning glyphicon glyphicon-briefcase"> Work</a>
      <a href="/relationshipvents" class="btn btn-warning glyphicon glyphicon-heart"> Relationship</a>
      <a href="/lifevents" class="btn btn-warning glyphicon glyphicon-globe"> Life</a>
      <a href="/othervents" class="btn btn-warning glyphicon glyphicon-bullhorn"> Other</a>
</div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Distractions</h2>
  </div>
</div>

<div class="row">
<div class="btn-group btn-group-justified">
      <a href="http://www.addictinggames.com/" class="btn btn-info glyphicon glyphicon-tower"> Games</a>
      <a href="https://www.opentable.com/" class="btn btn-info glyphicon glyphicon-cutlery"> Go Out to Eat</a>
      <a href="https://www.youtube.com/watch?v=c0NGXyMTMvQ" class="btn btn-info glyphicon glyphicon-film"> Videos</a>
      <a href="https://www.kayak.com/" class="btn btn-info glyphicon glyphicon-plane"> Plan a Vacation</a>
    </div>
  </div>

</center>


